extends layout

block content
  h1= title
  p Welcome to #{"my fromtsite to exam3"}
  br
  h1 you will have to create your own jokes, to use this with the crud
  a(href='newjoke') create new joke here
  br
  a(href='quest1') question 1
  br
  a(href='quest2') question 2
  br
  a(href='quest3') question 3
  br
  a(href='quest4') question 4
    br
  a(href='quest5') question 5
  br
  a(href='jokes') question 6 get
  br
  a(href='newjoke') question 6 post
  br
  a(href='') home


