extends layout

block content
    a(href='/') home
    h1 the strategy is to open a connection to the database, sellect witch database we want to work on, grab the collection,
    h1 and make the get,post,put or delete call, and close the connection.
    h1 with the get call you just find what you need and so on.....