extends layout

block content
    a(href='/') home
        br
    h1 question 1

    h1 Sql is a database with tables, where the tables is connectec in relations. the idea is that
    h1 there should be no dublicated data in the database. in sql there are alot of different datatypes, and formats like dates
    br
    h1 Nosql database is a database with no relations between the data. Its tableless, there will be alot of dublicated data
    h1 in mongodb that there ar one of the nosql databases all the data is stored as BSON, it have a lookalike Json-format
    h1 the datatypes is strings, int and one more

