extends layout

block content
    a(href='/') home
        br
        h1 when we use mongoose, we put a new layar on our mongodb, that allow us to build schemaes almost like we know it from a sqlDatabase
        h1 we can retrive created objectes so we get a box of prefix data like we know it from objectrelationdatabase.
        h1 it make it so much easier to work with