extends layout

block content
    a(href='/') home
        br
    h1 question 3

    h1 Mongodb is a document-database  where the data is stored in collections.  The collections store one or more Bson documents. The redis is in-memory db
    h1 it make it so damm fast,

    br

